<app-header></app-header>

<div class="form" >

    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()"> 

        <legend class="ontario-fieldset__legend ontario-fieldset__legend--large">
            {{'reactiveForm.title' | translate}}
        </legend>
        <!--First Name-->
        <div class="ontario-form-group">

            <label class="ontario-label " for="firstName">
                {{ 'reactiveForm.firstName' | translate }}<span class="ontario-label__flag">{{ 'reactiveForm.required' | translate }}</span>
            </label>

            <!--err-->
            <div class="ontario-error-messaging ontario-input__error" *ngIf="checkError('firstName')">
                <span class="ontario-error-messaging__icon">
                    <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary"
                        viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                        <use href="#ontario-icon-alert-error"></use>
                    </svg>
                </span>
                <span class="ontario-error-messaging__content">
                    {{'errors.firstName.required' | translate}}
                </span>
            </div>
            <input [ngClass]="checkError('firstName') ? 'ontario-input ontario-input__error' : 'ontario-input'"
                type="text" id="first-name" formControlName="firstName">

        </div>


        <!--Last Name-->
        <div class="ontario-form-group">

            <label class="ontario-label " for="lastName">
                {{ 'reactiveForm.lastName' | translate }}<span class="ontario-label__flag">{{ 'reactiveForm.required' | translate }}</span>
            </label>
            <!--err-->
            <div class="ontario-error-messaging ontario-input__error" *ngIf="checkError('lastName')">
                <span class="ontario-error-messaging__icon">
                    <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary"
                        viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                        <use href="#ontario-icon-alert-error"></use>
                    </svg>
                </span>
                <span class="ontario-error-messaging__content">
                    {{'errors.lastName.required' | translate}}
                </span>
            </div>
            <input [ngClass]="checkError('lastName') ? 'ontario-input ontario-input__error' : 'ontario-input'"
                type="text" id="last-name" formControlName="lastName">

        </div>


        <!--Email-->
        <div class="ontario-form-group">

            <label class="ontario-label " for="email">
                {{ 'reactiveForm.email' | translate }}<span class="ontario-label__flag">{{ 'reactiveForm.required' | translate }}</span>
            </label>
            <!--err-->
            <div class="ontario-error-messaging ontario-input__error" *ngIf="checkError('email')">
                <span class="ontario-error-messaging__icon">
                    <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary"
                        viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                        <use href="#ontario-icon-alert-error"></use>
                    </svg>
                </span>
                <span class="ontario-error-messaging__content">
                    {{'errors.email.valid' | translate}}
                </span>
            </div>
            <input [ngClass]="checkError('email') ? 'ontario-input ontario-input__error' : 'ontario-input'" type="email"
                id="email" formControlName="email">

        </div>


        <!--Address-->
        <div class="ontario-form-group" formGroupName="address">
            <fieldset class="ontario-fieldset">

                <!--Street-->
                <div class="ontario-form-group">
                    <label class="ontario-label" for="address-line-1">
                        {{ 'reactiveForm.street1' | translate }}<span class="ontario-label__flag">{{ 'reactiveForm.required' | translate }}</span>
                    </label>
                    <p id="address-line-1-hint" class="ontario-hint">{{ 'reactiveForm.st1' | translate }}</p>
                    <!--err-->
                    <div class="ontario-error-messaging ontario-input__error" *ngIf="checkError('address.street1')">
                        <span class="ontario-error-messaging__icon">
                            <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary"
                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                <use href="#ontario-icon-alert-error"></use>
                            </svg>
                        </span>
                        <span class="ontario-error-messaging__content">
                            {{'errors.street1.required' | translate}}
                        </span>
                    </div>
                    <input
                        [ngClass]="checkError('address.street1') ? 'ontario-input ontario-input__error' : 'ontario-input'"
                        type="text" id="address-line-1" formControlName="street1">

                    <label class="ontario-label" for="address-line-2">
                        {{ 'reactiveForm.street2' | translate }}<span class="ontario-label__flag">{{ 'reactiveForm.optional' | translate }}</span>
                    </label>
                    <p id="address-line-2-hint" class="ontario-hint">{{ 'reactiveForm.st2' | translate }}</p>
                    <input aria-describedby="address-line-2-hint" class="ontario-input" type="text" id="address-line-2"
                        formControlName="street2">
                </div>

                <!--City-->
                <div class="ontario-form-group">
                    <label class="ontario-label" for="city-town">
                        {{ 'reactiveForm.city' | translate }}<span class="ontario-label__flag">{{ 'reactiveForm.required' | translate }}</span>
                    </label>
                    <!--err-->
                    <div class="ontario-error-messaging ontario-input__error" *ngIf="checkError('address.city')">
                        <span class="ontario-error-messaging__icon">
                            <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary"
                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                <use href="#ontario-icon-alert-error"></use>
                            </svg>
                        </span>
                        <span class="ontario-error-messaging__content">
                            {{'errors.city.required' | translate}}
                        </span>
                    </div>
                    <input
                        [ngClass]="checkError('address.city') ? 'ontario-input ontario-input__error' : 'ontario-input'"
                        type="text" id="city-town" formControlName="city">
                </div>

                <!--Province-->
                <div class="ontario-form-group">
                    <label class="ontario-label" for="province">
                        {{ 'reactiveForm.province' | translate }}<span class="ontario-label__flag">{{ 'reactiveForm.required' | translate }}</span>
                    </label>
                     <!--err-->
                     <div class="ontario-error-messaging ontario-input__error" *ngIf="checkError('address.province')">
                        <span class="ontario-error-messaging__icon">
                            <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary"
                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                <use href="#ontario-icon-alert-error"></use>
                            </svg>
                        </span>
                        <span class="ontario-error-messaging__content">
                            {{'errors.province.required' | translate}}
                        </span>
                    </div>

                    <select [ngClass]="checkError('address.province') ? 'ontario-input ontario-dropdown ontario-input__error' : 'ontario-input ontario-dropdown'" id="province" name="province"
                        formControlName="province">
                        <option value="">Select</option>
                        <option value="AB">Alberta</option>
                        <option value="BC">British Columbia</option>
                        <option value="MB">Manitoba</option>
                        <option value="NB">New Brunswick</option>
                        <option value="NL">Newfoundland and Labrador</option>
                        <option value="NS">Nova Scotia</option>
                        <option value="ON">Ontario</option>
                        <option value="PE">Prince Edward Island</option>
                        <option value="QC">Quebec</option>
                        <option value="SK">Saskatchewan</option>
                        <option value="NT">Northwest Territories</option>
                        <option value="NU">Nunavut</option>
                        <option value="YT">Yukon</option>
                    </select>
                </div>


                <!--Postal Code-->
                <div class="ontario-form-group">
                    <label class="ontario-label" for="postal-code">
                        {{ 'reactiveForm.postalCode' | translate }}<span class="ontario-label__flag">{{ 'reactiveForm.required' | translate }}</span>
                    </label>
                    <div class="ontario-error-messaging ontario-input__error" *ngIf="checkError('address.postalCode')">
                        <span class="ontario-error-messaging__icon">
                            <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary"
                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                <use href="#ontario-icon-alert-error"></use>
                            </svg>
                        </span>
                        <span class="ontario-error-messaging__content">
                            {{'errors.postalCode.format' | translate}}
                        </span>
                    </div>
                    <input
                        [ngClass]="checkError('address.postalCode') ? 'ontario-input ontario-input--7-char-width ontario-input__error' : 'ontario-input ontario-input--7-char-width'"
                        type="text" id="postal-code" formControlName="postalCode" placeholder="XXXXXX">
                </div>

            </fieldset>
        </div>


        <!--Submit Button-->
        <button class="ontario-button ontario-button--primary" >
            {{ 'reactiveForm.button.submit' | translate }}
        </button>

    </form>

</div>


<app-footer></app-footer>